pkgbase = powerdown-git
	pkgdesc = simple linux powersaving script (git version)
	pkgver = 20150201.cb86740
	pkgrel = 1
	url = http://github.com/taylorchu/powerdown
	arch = any
	license = GPL2
	makedepends = git
	depends = bash
	depends = iw
	depends = ethtool
	depends = hdparm
	depends = bc
	depends = x86_energy_perf_policy
	provides = pm-utils
	conflicts = pm-utils
	source = powerdown::git://github.com/taylorchu/powerdown.git
	md5sums = SKIP

pkgname = powerdown-git

